.popover {
    padding: 1.5rem;
    border: none;
    align-items: center;
    justify-content: center;
    background: #1e293b;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    width: min(90%, 400px);
    margin: auto;
    opacity: 0;
    transform: scale(0.95) translateY(-10px);
    transition:
        opacity 200ms ease,
        transform 200ms ease,
        overlay 200ms allow-discrete,
        display 200ms allow-discrete;

    &:popover-open {
        opacity: 1;
        transform: scale(1) translateY(0);

        @starting-style {
            opacity: 0;
            transform: scale(0.95) translateY(-10px);
        }

        &::backdrop {
            background-color: rgba(2, 6, 23, 0);
            backdrop-filter: blur(5px);
        }
    }

    &::backdrop {
        background-color: rgba(2, 6, 23, 0);
        backdrop-filter: blur(0px);
        transition:
            background 200ms ease,
            backdrop-filter 200ms ease,
            overlay 200ms allow-discrete,
            display 200ms allow-discrete;
    }

    button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: var(--neon-pink);
    }
}