.profile {
    width: 100%;
    margin-top: 1rem;
    flex-direction: column;

    >form {
        margin: 0 auto;
    }

    button[data-func="logout"] {
        background-color: hsl(0, 69%, 57%);
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        margin: 1rem auto;
    }
}

.images {
    height: 10rem;
    display: flex;
    width: min(90%, 600px);
    position: relative;

    div:first-child {
        width: 10rem;
    }

    div:nth-child(2) {
        flex: 1 0;
    }

}

.preview {
    pointer-events: none;
    z-index: -1;
    position: absolute;
    height: 10rem;
    display: flex;
    width: 100%;

    div {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    >div:first-child {
        width: 10rem;
    }

    >div:nth-child(2) {
        flex: 1 0;
    }

    img {
        /* position: absolute; */
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}