.logo {
    height: 150px;
    background-color: aliceblue;
    transition: background-color 200ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* box-shadow: 0 0 10px black; */

    &:hover {
        background-color: lavender;
    }

    a {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    img {
        max-height: 50%;
        max-width: 80%;
    }

    svg {
        position: absolute;
        color: #00000050;

        top: 0;
    }
}