.comment {
    margin: 1rem 0;
    .user {
        display: flex;
        align-items: center;
        height: 2rem;
        gap: 0.5rem;
        font-weight: bold;
        img {
            height: 100%;
        }
    }
}
.createdAt {
    font-size: small;
    margin-left: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;

    >div {
        border-radius: 0.5rem;
        width: fit-content;
        padding: 0.25rem;
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    button {
        transition: color 200ms ease;

        &:hover {
            background-color: rgb(from var(--neon-green) r g b / 0.25);
        }
        &.liked {
            color: var(--neon-green);
        }

        &:is(button:nth-child(2)) {
            &:hover {
                background-color: rgb(from red r g b / 0.25);
            }
            &.disliked {
                color: red
            }
        }
    }
}

.text {
    padding-left: 2.5rem;
}