:root {
  font-size: clamp(12px, calc(12px + 1vw), 16px);
  --bg-clr: light-dark(#eee, #121212);
  --txt-clr: light-dark(#333, #f1f1f1);
  --neon-pink: #F0F;
  --neon-green: #00ff7f;
  --content-bg: light-dark(rgb(230, 229, 229), hsl(0, 1%, 12%));
  --gray1: light-dark(hsl(0, 2%, 90%), hsl(0, 2%, 17%));
}

body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  background-color: var(--bg-clr);
  color: var(--txt-clr);
  height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Press Start 2p', system-ui;
}

a {
  text-decoration: none;
  color: unset;

  &:visited {
    color: unset;
  }
}

.paras {
  padding: 0.25rem 1rem;
  background-color: var(--content-bg);
}

.cutout {
  --x: 1rem;
  clip-path: polygon(var(--x) 0%, 0% var(--x), 0% 100%, calc(100% - var(--x)) 100%, 100% calc(100% - var(--x)), 100% 0%);
}

.cutout-wrapper {
  filter: drop-shadow(0 0 20px black);
}

.pulse {

  animation: pulse 3s ease-in-out 0s infinite alternate;
}

@keyframes pulse {
  from {
    background-color: #333;
  }

  to {
    background-color: gray;
  }
}

a[href^="http"]:not([href*="gg.cossie.dev"])::after {
  content: "↗";
  margin-inline-start: 0.2rem;
  color: initial;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  background: none;
  border: none;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}

.hide-scrollbar {
  /* For Firefox */
  scrollbar-width: none;
  /* For Internet Explorer and Edge (legacy) */
  -ms-overflow-style: none;
}

/* For Chrome, Safari, Opera, and other WebKit-based browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}