.header {
    width: 100%;
    background-color: aliceblue;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    h1 {
        font-size: 2.5rem;
    }
    >img:not(.isActor) {
        max-height: 50%;
    }
    color: black;
}

.main {
    width: min(90%, 1200px);
    margin: 0.5rem auto;
}

.isActor {
    height: 95%;
    box-shadow: 0 0 20px 5px black;
    border-radius: 0.5rem;
}