.carousel {
    position: relative;
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
    --idx: 0;
    --start: 0%;

    >div {
        aspect-ratio: 16 / 9;
        object-fit: cover;
        width: 100%;
        flex-shrink: 0;
        translate: calc(0% - var(--idx) * 100%);
        transition: translate 200ms ease-in-out;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 0 10px 1px black;
    }

    @media (width > 1024px) {
        >div {
            width: 50%;
            translate: calc(50% - var(--idx) * 100%);

        }
    }
}

.navBtns {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: hsl(300 100% 50% / 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    translate: 0 -50%;

    &:hover {
        background-color: hsl(300 100% 50% / 1);
    }

    &:last-of-type {
        right: 0;
    }
}

.notches {
    display: flex;
    width: max-content;
    gap: 1rem;
    margin: 0.5rem auto;

    >button {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: var(--gray1);
        transition: background-color 250ms ease-in-out;

        &.active {
            background-color: gray;
            background-color: color-mix(in srgb, var(--gray1) 70%, white 30%);
        }
    }
}