.charlist {
    >li {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr auto;
        gap: 0.5rem;
        font-size: small;

    }
    button {
        all: unset;
        color: red;
    }
}

.new {
    width: 100% !important;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    button {
        all: unset;
        color: greenyellow;
        flex-shrink: 0;
    }
    [role="listbox"] {
        width: 5rem;
        flex-shrink: 1;
        flex-grow: 1;
    }
    [role="group"] {
        width: 10rem;
        flex-shrink: 2;
        flex-grow: 0;
    }
}