.notifList {
    width: min(90%, 800px);
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;

    @media (width <=768px) {
        grid-template-columns: max-content auto;
    }

    @media (width > 768px) {
        grid-template-columns: 3rem auto max-content max-content;
    }
}

.notification {
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    min-height: 2.5rem;
    background-color: var(--gray1);
    padding: 0.5rem;
    border-radius: 0 0.5rem;
    corner-shape: bevel;
    position: relative;

    @media (width <=768px) {
        grid-column: span 2;
    }

    @media (width > 768px) {
        grid-column: span 4;
    }

    svg {
        color: var(--neon-green);
        /* fill: var(--neon-green); */
        flex-shrink: 0;

        @media (width > 768px) {
            justify-self: center;
        }

        &:last-child {
            color: var(--neon-pink);
        }
    }

    span {
        flex-shrink: 0;
        font-size: x-small;
        color: gray;
        margin-left: auto;
    }
    button {
        z-index: 50;    
    }
    a {
        position: absolute;
        inset: 0;
    }

    &:is(button) {
        cursor: pointer;

        svg {
            color: var(--neon-green) !important;
        }

        span {
            @media (width > 768px) {
                grid-column: span 3;
            }

            margin-left: unset;
        }
    }

    @media (width <=768px) {
        .time {
            grid-column-start: 2;
            grid-row-start: 2;
        }

        &:is(button) {
            span {
                grid-area: 1 / 2 / 2 / 3;
            }
        }

    }
}