.game {
    width: 100%;
    --gray1: light-dark(hsl(0, 2%, 90%),hsl(0, 2%, 17%));
    p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

}

.cover {
    position: absolute;
    z-index: 2;
    box-shadow: black 0px 0px 20px 10px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 0.5rem;
}

.hero {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: -1;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: black;
        opacity: 0.2;
        z-index: 2;
    }

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header {
    position: relative;
    height: 75vh;
}

.title {
    position: absolute;
    font-size: clamp(1rem, 3vw, 10rem);
    z-index: 5;
    translate: -50% -100%;
    text-align: center;
    color: var(--neon-green);
    text-wrap: wrap;
    padding: 1rem;
    backdrop-filter: blur(10px) grayscale(50%);
    border-radius: 0.5rem;
    box-shadow: 0 0 25px black;
    top: 100%;
    left: 50%;
    width: max-content;
}

.body {
    padding-top: 0.5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.columns {
    display: grid;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    @media (width > 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.main {
    background-color: light-dark(hsl(0,2%, 90%), hsl(0, 1%, 12%));
    grid-column: span 2;
    box-shadow: 0 0 10px black;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;

    @media (width > 1024px) {
        grid-column: 2 / span 2;
        grid-row: 1 / span 3
    }
}

.date {
    background-color: var(--gray1);
    box-shadow: 0 0 10px black;
    padding: 1rem;
    grid-row: span 1;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    border-radius: 0.5rem;
}

.platforms,
.tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.platforms {
    grid-column: 1 / -1;

    >div {
        width: 10rem;
        flex-grow: 1;
    }
}

.tags {
    grid-area: 3 / 2 / 4 / 3;

    @media (width >1024px) {
        grid-area: 2 / 4 / 3 / 5;
    }

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        background-color: var(--gray1);
        border-radius: 0.5rem;
        flex-grow: 1;
        box-shadow: 0 0 10px black;
        position: relative;
    }
    a {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

.iframe {
    margin-top: 2rem;
    width: 100%;
    aspect-ratio: 16 / 9;
    >iframe {
        width: 100%;
        height: 100%;
    }
}

@media (width > 1024px) {
    .title {
        top: 50%;
        translate: -50% -50%;
    }

    .cover {
        top: 50%;
        left: 0%;
        translate: 25% -50%;
    }
}

@media (width < 1024px) {
    .company {
        grid-column: span 1;
    }
}