.container {}

.commentArea {
    width: min(90%, 800px);
    margin: 0 auto 1rem;
    display: flex;
    justify-content: center;
    position: relative;

    >div {
        margin: 0;
    }
    button {
        position: absolute;
        bottom: 0;
        padding: 0.5rem;
        translate: 0 0;
        transition: translate 250ms ease;

        &:hover:not(:disabled) {
            background-color: var(--neon-green);
        }
    }
    &:has(textarea:focus) button {
        translate: 0 100%;
    }
}