.form {
    padding-top: 0.5rem;
    width: min(90%, 800px);
    background-color: #00000050;
    border-radius: .5rem;
    box-shadow: 0 0 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .errs {
        font-size: small;
        color: hsl(0, 64%, 60%);
    }

    button {
        padding: 1rem 2rem;
        background-color: var(--neon-green);
        color: black;

        &:disabled {
            background-color: rgba(90, 82, 82, 0.3);
            color: white;
        }
    }

    aside {
        font-size: small;
        margin-bottom: 1rem;
    }

    h1 {
        margin-bottom: 0.5rem;
    }
}

.formControl {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.75rem;
    width: min(90%, 600px);

    label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        transition: 0.3s ease all;
        pointer-events: none;
        color: gray;
    }

    textarea,
    input,
    button {
        position: relative;
        border-radius: .5rem;
        color: white;
        border: none;
        background: #00000050;
    }

    textarea,
    input {
        padding: 0.5rem;

        &:focus,
        &:not(:placeholder-shown) {
            outline: none;

            +label {
                top: -10px;
                font-size: 12px;
                color: var(--neon-green);
            }
        }
    }

    textarea {
        min-height: 4lh;
        resize: none;
        field-sizing: content;
    }
}

.charIndicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: var(--neon-pink);

}