.select {
    height: 2.5rem;
    background-color: #00000050;
    z-index: 5;
    user-select: none;

    >.header {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        padding: 0 1rem;

        svg {
            height: 100%;
        }
    }
}

.drawer {
    --a: hsl(204, 22%, 5%);
    background-color: var(--a);
    height: 0;
    max-height: 20rem;
    overflow-y: auto;
    transition: height 200ms ease;

    &.isOpen {
        height: auto;
    }
}

.option {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
    transition: background 250ms ease;

    &:hover {
        background-color: slategray;
        background-color: hsl(from var(--a) h s calc(l + 2));
    }
}