.tags {
    --lineHeight: 2rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #00000050;
    margin: 0.75rem;
    width: min(90%, 600px);
    min-height: var(--lineHeight);
    gap: 0.25rem;

    button {
        all: unset;
        height: var(--lineHeight);
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .addBtn {
        margin-left: auto;
    }

    input {
        background: none;
        border: none;
        flex: 1;
        height: var(--lineHeight);
        padding-left: 1rem;
        &:disabled {
            background-color: var(--gray1);
        }
    }

    >.tag {
        background-color: coral;
        height: var(--lineHeight);
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        padding: 0 0.25rem;
        align-items: center;
        background-color: var(--gray1);

        svg {
            color: hsl(0, 64%, 60%);
        }
    }
}
